<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Filter</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  </head>
  <body>
    <div class="container">
      <div class="jumbotron">

      <ul>
        {% for td in today %}
          <li><h2>{{ td.titles }} - {{ td.due_date }} - {{ td.status }}</h2></li>

        {% endfor %}
      </ul>
      <ul>
        {% for ts in this %}
          <li><h2>{{ ts.titles }} - {{ ts.due_date }} - {{ ts.status }}</h2></li>

        {% endfor %}
      </ul>
      <ul>
        {% for nx in next %}
          <li><h2>{{ nx.titles }} - {{ nx.due_date }} - {{ nx.status }}</h2></li>

        {% endfor %}
      </ul>
      <ul>
        {% for due in overdue %}
          <li><h2>{{ due.titles }} - {{ due.due_date }} - {{ due.status }}</h2></li>

        {% endfor %}
      </ul>
    </div>
    </div>
  </body>
</html>
