<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Search</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <!-- <h1>You searched for: {{ query }} </h1> -->
        <form method="get">
    {{ filter.form.as_p }}
    <button type="submit">Search</button><br>
    <ul>
    {% for task in filter.qs %}
      <li> <h2>{{ task.titles }} - {{ task.due_date }} - {{ task.status }}</h2></li><br>

    {% endfor %}
    </ul>
  </form>
</div>
</div>


  </body>
</html>
